#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# pull secret
openshift_pull_secret.json

**/temp/*
kubectl
oc
openshift-install
kubeadmin-password
kubeconfig
